OPENAI_API_KEY=
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_MODEL=qwen-vl-max-latest

FISH_AUDIO_BASE_URL=https://api.fish.audio
FISH_AUDIO_API_KEY=
FISH_AUDIO_MODEL=d8df0ee72d15428891a20aca7f8cd852

GAME_DATA_DIR=./games
VIDEO_EXTENSIONS=mp4,mov,avi,mkv,webm
